        table {
            border: 3px double #48d1cc;
        }
        tr,td {
            border: 2px double #48d1cc;
        }
        td{
            width:120px;
            height:120px;   
        }
        img{
            max-height: 110px;
             display: block;
             margin-left: auto;
             margin-right: auto
        }
        .badge{
            font-size: 16px;
            background-color: #11B6ED;
        }
        .btn{
            font-size: 16px;
        }