        table {
            border: 3px double #48d1cc;
        }
p{margin-top:10px!important;}
        tr, td {
            border: 2px double #48d1cc;
            font-size: 45px;
            width:2em; 
            height:1em;  
            text-align: center;      
        }
       tr:last-child td:last-child{
        color:red;
       }
        .label-info, label {
            font-size: 14px;
        }