html {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

p {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

tr,
td {
    border: 3px double #48d1cc;
    font-size: 65px;
    text-align: center;
    width: 100px;
    height: 100px;
    color: gray;
}

div {
    margin-top: 10px;
}